/* this file is being included for viewing as well as editing modes */

html, body {
	/* default font */
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	font-size: 16px;
}

a, a:link, a:visited, a:active, a:hover {
	/* this removes the blue color from links on Chrome 7.0.517.41 */
	color: inherit;
	text-decoration: underline;
}

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h4 { font-size: 1.00em }
h5 { font-size: 0.83em }
h6 { font-size: 0.67em }

p { padding-bottom: 0.75em; }

div.text { padding: 10px; }
